.list-products {
    display: grid; /* Usamos grid para organizar los productos */
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tama침o */
    gap: 20px; /* Espacio entre los productos */
    padding: 20px; /* Espacio alrededor de la lista */
    background-color: #e6f7ff; /* Color de fondo suave */
}

.item {
    border: 1px solid #ccc; /* Borde alrededor de cada producto */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #f8f0fc; /* Color de fondo */
    padding: 10px; /* Espacio interno */
    transition: transform 0.3s, box-shadow 0.3s; /* Efecto de transici칩n */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.item:hover {
    transform: translateY(-5px); /* Efecto de elevaci칩n al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra m치s intensa al pasar el mouse */
}