/* src/app/Views/not-found/not-found.component.css */
.detail-book {
  --ion-background-color: linear-gradient(135deg, #ff512f, #dd2476);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  color: var(--ion-color-light);
  text-align: center; /* Centra el texto dentro del contenedor */
}

ion-card {
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 450px;
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

ion-card-title {
  font-size: 24px;
  margin: 15px 0;
  font-weight: bold;
}

ion-button {
  --background: linear-gradient(135deg, #ff758c, #ff9a9e);
  --background-hover: linear-gradient(135deg, #ff512f, #ff758c);
  --border-radius: 8px;
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--ion-color-light);
}
