/* src/app/app.component.css */

/* Fondo general */
ion-content {
  --ion-background-color: #f4f4f4;
  color: #000;
}

/* Encabezado */
ion-header {
  --ion-background-color: #3880ff;
  --ion-text-color: #fff;
}

ion-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
