<!-- src/app/views/product-detail/product-detail.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Detalle del Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="detail-product">
    <ion-card>
      <img [src]="productSelected.image" alt="Imagen de {{productSelected.name}}" class="product-image">
      <ion-card-content>
        <ion-card-title>Nombre: {{productSelected.name}}</ion-card-title>
        <p>Precio: ${{productSelected.price}}</p>
        <p>Detalles: {{productSelected.details}}</p>
        <ion-button expand="block" (click)="gotoHome()">Regresar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
