<ion-header>
  <ion-toolbar>
    <ion-title>{{ product.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/cart">
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="product-detail">
    <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ product.name }}</ion-card-title>
        <ion-card-subtitle>{{ product.price | currency }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ product.details }}</p>
        <ion-button (click)="addToCart(product)">Agregar al Carrito</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>