/* src/app/app.component.css */

/* Fondo general */
ion-content {
    background: #f4f4f4;  /* Fondo blanco claro */
    padding: 10px;
  }
  
  /* Estilo para el encabezado */
  ion-header {
    background: #3880ff;  /* Color de fondo de la barra superior */
  }
  
  ion-toolbar {
    background: #3880ff;  /* Color de fondo de la barra de herramientas */
  }
  
  .app-title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;  /* Título negro */
    text-align: center;
  }
  
  /* Mejorar la apariencia de router-outlet */
  router-outlet {
    margin-top: 20px;
    background-color: #fff;  /* Fondo blanco para las páginas cargadas */
    border-radius: 10px;  /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sombra sutil */
    padding: 20px;
  }
  
  /* Opcional: Añadir una animación suave al cargar el contenido */
  ion-content {
    transition: background-color 0.3s ease;
  }
  